.Menu{
    

    width: 100%;
    margin-left: 250px;
    background-color:lightgoldenrodyellow;
    margin-bottom: 50px;
    margin-top: 50px;
    height: 300px;
    width: 30%;

}
.img-size{
    width: 150px;
    margin-left: 10px;


}